
  body {
    background: #0ca45d;
    
        font-family: 'Poppins', sans-serif;
    }
    
    #form {
        width: 400px;
        margin: 25vh auto 0 auto;
        padding: 20px;
        background-color: rgb(226, 219, 222);
        border-radius: 20px;
        font-size: 12px;
    }
     
    #form h1 {
        color: #0f2027;
        text-align: center;
    font-size: x-large;     
    }
    
    #form button {
        padding: 10px;
        margin-top: 10px;
        width: 50%;
        color: white;
        background-color: rgb(1, 2, 2);
        border: none;
        border-radius: 20px;
        align-self: center;
        margin-left: 25%;
    }
    
    .input-control {
        display: flex;
        flex-direction: column;
    }
    
    .input-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 10px;
        width: 80%;
        margin-left: 5%;
    }
    
    
    .input-control select {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 10px;
        width: 100%;
    }
    
    .input-control input:focus {
        outline: 0;
    }
    
    .input-control.success input {
        border-color: #09c372;
    }
    
    .input-control.error input {
        border-color: #ff3860;
    }
    .input-control.success select {
        border-color: #09c372;
    }
    
    .input-control.error select {
        border-color: #ff3860;
    }
    
    .input-control .error {
        color: #ff3860;
        font-size: 9px;
        height: 13px;
    }
    .exist{
        font-size: 12px;
         text-align: end;
         margin-right: 40px;
         color:rgb(7, 0, 0);
    }
    