<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./login.component.css">
</head>

<body>
    
<div class="container">
    <form id="form" action="#">
        <h1>Login</h1>
        <div class="input-control">
            <label for="useremail">Username</label>
            <input id="useremail" name="useremail" type="text">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <label for="userpassword">Password</label>
            <input id="userpassword"name="userpassword" type="userpassword">
            <div class="error"></div>
        </div>
       
        <button type="submit"  >Login</button><br><br>
              
    </form>
</div>
<script>const form = document.getElementById('form');
    const username = document.getElementById('useremail');
    const password = document.getElementById('userpassword');
    
    
    form.addEventListener('submit', e => {
        e.preventDefault();
    
        validateInputs();
    });
    
    const setError = (element, message) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
    
        errorDisplay.innerText = message;
        inputControl.classList.add('error');
        inputControl.classList.remove('success')
    }
    
    const setSuccess = element => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
    
        errorDisplay.innerText = '';
        inputControl.classList.add('success');
        inputControl.classList.remove('error');
    };
    
 
    const validateInputs = () => {
        const useremailValue = useremail.value.trim();
        const userpasswordValue = userpassword.value.trim();
    
    
        if(useremailValue === '') {
            setError(useremail, 'Useremail is required');
        } else {
            setSuccess(useremail);
        }
    
    
        if(userpasswordValue === '') {
            setError(userpassword, 'Password is required');
        } else if (userpasswordValue.length < 8 ) {
            setError(userpassword, 'Password must be at least 8 character.')
        } else {
            setSuccess(userpassword);
        }
     
    };
    </script>
</body>
</html>