
     
     <div> <a routerLink="/products" routerLinkActive="active" class="nav-link">Product List</a></div>  
      
     
     <div> <a routerLink="/createproducts" routerLinkActive="active" class="nav-link">Add Product</a></div>  
    
      
        <div>  <a routerLink="/orders" routerLinkActive="active" class="nav-link">Order List</a></div>  
     
    
            <div> <a routerLink="/payment" routerLinkActive="active" class="nav-link">Payment List</a></div>  
      
 
    
    
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  
