<div class="row">
    <div class="card col-md-6 offset-md-3">
        <div class="row">
            <h1 class="text-center">Create Products</h1>
            <hr/>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>ProductName</label>
                        <input type="text" class="form-control" id="productname" [(ngModel)]="products.productname" 
                        name="productname">
                    </div>
                    <div class="form-group">
                        <label>ProductDescription</label>
                        <input type="text" class="form-control" id="pdescription" [(ngModel)]="products.pdescription" 
                        name="pdescription">
                    </div>
                    <div class="form-group">
                        <label>Specification</label>
                        <input type="text" class="form-control" id="specification" [(ngModel)]="products.specification" 
                        name="specification">
                    </div>
                    <div class="form-group">
                        <label>Buyingprice</label>
                        <input type="text" class="form-control" id="buyingprice" [(ngModel)]="products.buyingprice" 
                        name="buyingprice">
                    </div>
                    <br/>
                    <button class="btn btn-success" type="submit">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>