
  
<div>
    <h2>Product List</h2>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Productid</th>
            <th>Productname</th>
            <th>Pdescription</th>
            <th>Specification</th>
            <th>Buyingprice</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let products of products">
            <td>{{products.productid}}</td>
            <td>{{products.productname}}</td>
            <td>{{products.pdescription}}</td>
            <td>{{products.specification}}</td>
            <td>{{products.buyingprice}}</td>
            <td>
                <button (click)="updateProduct(products.productid)" class="btn btn-primary">Update</button>
                <button (click)="deleteProduct(products.productid)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
