<div class="pomo">
<h1>Bahar Treatment In Pomegranate For High Quality And Yields</h1>
<p>Have you been wondering why your pomegranate trees produce flowers profusely, yet fail to give luscious and marketable fruits you desire?  
   If you are looking for a solution to this persistent problem, then you are in the right place. We have the ultimate solution to vanish your worries – Bahar Treatment. Don’t stop here. Read further to know why, when and how to perform this cultural practice (Bahar treatment) to transform your pomegranate orchard with abundant and flavourful fruits.  
   
   What is Bahar treatment?
    Bahar treatment is a horticultural practice which involves controlling vegetative growth by pruning and 
    inducing flowering at specific desired season to improve yield and fruit quality. 
    
   What is the purpose of doing Bahar treatment?
    Pomegranate trees have the ability to flower throughout the year as long as they receive sufficient moisture in the soil. However, allowing continuous flowering leads to irregular fruiting with smaller size, making it commercially unfeasible with low yields. Therefore, pomegranate trees are subjected to Bahar treatment to regulate their flowering and fruiting patterns. 
    
    Besides synchronizing the flowering to increase yield, other purposes served includes, 
    Pruning and thinning increases airflow, reduces humidity and minimizes the risk of pest and disease attack. 
    It helps improve fruit quality. It allows the remaining branches to receive more sunlight and nutrients,
    resulting in better fruit color, size and flavor. 
    Right timing to induce flowering 
    In tropical conditions, pomegranate cultivation experiences three distinct flowering seasons: 
    ambia bahar, mrig bahar and hasta bahar. The choice of flowering season is determined based on factors such as irrigation water 
    availability or rainfall, market demand and incidence of pests and diseases in the specific area. 
    
    Flowering can be induced during three specific periods based on the patterns of rainfall: 
    Mrig bahar (June-July) 
    It is advantageous in areas with assured rainfall starting in June and continuing until September.  
    Harvesting time: December to February. 
    This season is favoured as flowering and fruiting coincide with the rainy season or immediately after rains. 
    Hasta bahar (September-October)
    It is beneficial in areas where the monsoon typically starts in August with an erratic pattern.  
    Harvesting time: March to April. 
    Due to their visually appealing rind, dark-colored arils and limited availability during this season, they have higher market value.  
    Ambia bahar (January-February)
    This is suitable for areas with assured irrigation facility during April-May or where the monsoon starts early and withdraws by September, allowing for the induction of flowering in October.  
    Harvesting time: June to September.  
    This season is suitable for export-quality fruits as the dry weather during fruit development contributes to attractive color and quality. 
    Steps to perform Bahar Treatment 
    It is physiology of the plant system in perennial crops that stress promotes flowering, so in case of pomegranate the science of forcing plants for moisture stress is considered. 
    
    Step – 1: Stop giving irrigation at least 30-35 days prior to bahar treatment in case of light sandy soil and 40-45 days or even 2 months in case of sandy loam soil.  
    
    Step – 2: Prune the trees for proper canopy (40 – 45 days after stopping irrigation). 
    
    Step – 3: Within 2 days after pruning, spray Ethrel 2.5 ml/lit + DAP  5 gm/lit of water on the pruned trees for defoliation, and just after defoliation (80 – 85% leaf fall), light pruning (15-25 cm) is done.  
    
    Step – 4: Within 2-3 days after pruning, apply the required amount of nutrients* to the soil. The nutrients suggested below is for 2 – 5 year crop and subsequently the quantity of the nutrients or fertilizers have to be increased based on the crop age and plant size.  
    
    Nutrient 	Manure/Fertilizer 	Dosage (per plant) 
    Organic 	FYM 	20 kg 
    N 	Ammonium Sulphate 	2 kg 
    P 	Single Super Phosphate (SSP) 	1.6 kg 
    K 	Muriate of Potash (MOP) 	1.3 kg 
    Zn 	Chelated liquid zinc 	3 – 5 ml/lit of water 
    Mg 	Magnesium Sulphate (0.2%) 	2 gm/lit of water 
    B 	Boron 20% 	1 gm/lit of water 
     
    
    Step – 5: After applying the above nutrients and cover them with soil i.e., earthing up and then give light irrigation. The quantity of water to the plants in first irrigation after applying manures and fertilizers may be little more (8 – 12 liters/plant based on plant age and size) but for next two consecutive days the quantity of water must be half of quantity provided in the first one.   
    
    Excess irrigation at this stage should be avoided otherwise flowering will be affected adversely. 
    After 3rd irrigation, stop giving irrigation for 5-6 days. 
    If the above steps are followed timely and without fail, it will result in profuse flowering and better fruit set. Initially more male flowers appear and subsequently, hermaphrodite flowers appear and produce fruits. Regular plant protection (Pest & Disease) measures should be followed throughout the cropping season. 
    
    (NOTE: Bahar treatment should be done to the crop age of more than 18 months and based on plant growth.)</p>

</div>