<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home page</title>

    <link rel="stylesheet" href="home.component.css">

</head>

<body>

   

 <div class="bg">




     <div class="content">

       <h1>BUY AND SELL YOUR AGRICULTURAL PRODUCE ONLINE</h1>

        <br><h3>Welcome to "Farm Easy"</h3>

           <p>Buy and sell your Agric produce online (Buyers meet Farmers) – Sell your produce directly to buyers without middlemen and make more money from your farm produce.

              It’s evident that India has one of the largest agricultural markets around the world, which is why it becomes important to have a service, which can connect the farmers all over the country. This would help them in maximizing their profits by selling their farm produce at a better price by selling locally or where farmer get maximum price. The service is free for now.

              </p>





<br><br>




   

       

      </div>

</div>




</body>

</html>
